<h1>Welcome to <em>Rock Paper Scissors</em></h1>

<h2>Rules to play the game</h2>
<p>A player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors" or sometimes "blunts scissors"),<br>
  but will lose to one who has played paper ("paper covers rock");<br>
  A play of paper will lose to a play of scissors ("scissors cuts paper").<br>
  If both players choose the same shape, the game is tied</p>
  <br><br><br>
<h3><a href="/play_game">Play Now</a></h3>
